Q1. List any five functions of the pandas library with execution.

Answer1:Here are five common functions of the pandas library along with their execution examples:

1 read_csv(): This function is used to read data from a CSV file and create a pandas DataFrame.

In [1]:
import pandas as pd
# Read a CSV file
df = pd.read_csv('services.csv')
# Display the DataFrame
df

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

2 head(): This function is used to display the first few rows of a DataFrame.

In [2]:
df.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

3 describe(): This function provides summary statistics of a DataFrame, including count, mean, standard deviation, minimum, maximum, and quartile values.

In [3]:
import pandas as pd
summary = df.describe()

# Display the summary statistics
print(summary)

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

4 groupby(): This function is used to group data based on one or more columns and perform aggregate operations.

In [4]:
df.groupby('id').mean()

/tmp/ipykernel_2031/329830772.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('id').mean()

    location_id  program_id
id
1           1.0         NaN
2           2.0         NaN
3           3.0         NaN
4           4.0         NaN
5           5.0         NaN
6           6.0         NaN
7           7.0         NaN
8           8.0         NaN
9           9.0         NaN
10         10.0         NaN
11         11.0         NaN
12         12.0         NaN
13         13.0         NaN
14         14.0         NaN
15         15.0         NaN
16         16.0         NaN
17         17.0         NaN
18         18.0         NaN
19         19.0         NaN
20         20.0         NaN
21         21.0         NaN
22         22.0         NaN
23         22.0         NaN

5 to_csv(): This function is used to write a DataFrame to a CSV file.

In [5]:
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                     'B': ['a', 'b', 'c', 'd', 'e']})

# Write the DataFrame to a CSV file
data.to_csv('output.csv', index=False)

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row

Answer2:

In [6]:
def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df) * 2)
    df_reindexed = df.reset_index(drop=True)
    df_reindexed.index = new_index
    return df_reindexed

# Example usage
df1 = pd.DataFrame({'A': [10, 20, 30, 40, 50],
                   'B': [100, 200, 300, 400, 500],
                   'C': [1000, 2000, 3000, 4000, 5000]})

reindexed_df = reindex_dataframe(df1)
print(reindexed_df)

    A    B     C
1  10  100  1000
3  20  200  2000
5  30  300  3000
7  40  400  4000
9  50  500  5000

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [7]:
def calculate_sum(df):
    # Initialize a variable to store the sum
    total_sum = 0
    
    # Iterate over the DataFrame using iterrows()
    for index, row in df.iterrows():
        # Add the value to the total sum
        total_sum += row['Values']
        
        # Break the loop after calculating the sum of the first three values
        if index == 2:
            break
    
    # Print the sum to the console
    print("Sum of the first three values:", total_sum)

# Example DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Calculate the sum of the first three values
calculate_sum(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
import pandas as pd

def add_word_count(df):
    # Apply a lambda function to count the number of words in each row of the 'Text' column
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    
    return df
# Example DataFrame
df = pd.DataFrame({'Text': ['Hello, how are you?',
                            'I am doing great.',
                            'Python is awesome!']})

# Add the 'Word_Count' column
df = add_word_count(df)

# Print the updated DataFrame
print(df)

                  Text  Word_Count
0  Hello, how are you?           4
1    I am doing great.           4
2   Python is awesome!           3

Q5. How are DataFrame.size() and DataFrame.shape() different?

Answer 5: The DataFrame.size and DataFrame.shape are both attributes of a pandas DataFrame, but they provide different information about the DataFrame:

1 DataFrame.size: This attribute returns the total number of elements in the DataFrame, which is calculated as the product of the number of rows and the number of columns. It represents the total size of the DataFrame in terms of elements.

2 DataFrame.shape: This attribute returns a tuple representing the dimensions of the DataFrame. The tuple contains two values: the number of rows and the number of columns, respectively. It provides information about the structure of the DataFrame.

Here's a summary of the differences between DataFrame.size and DataFrame.shape:

1 DataFrame.size gives the total number of elements in the DataFrame.

2 DataFrame.shape gives the dimensions of the DataFrame as a tuple (number of rows, number of columns).

Here's an example to illustrate the difference:

In [9]:
# Example DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})

# DataFrame.size
size = df.size

# DataFrame.shape
shape = df.shape

print("DataFrame size:", size)
print("DataFrame shape:", shape)

DataFrame size: 9
DataFrame shape: (3, 3)

Q6. Which function of pandas do we use to read an excel file?

Answer6 :In pandas, the function commonly used to read an Excel file is pd.read_excel(). It allows you to read data from an Excel file into a pandas DataFrame. Here's an example of how to use pd.read_excel():

In [12]:
df = pd.read_excel('LUSID Excel - Setting up your market data.xlsx')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,If you have any questions please visit our:,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,Getting Started tutorials,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,Knowledge Base articles,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,or Contact us,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,LUSID accepts datetimes in any recognised Exce...,NaN,NaN,"LUSID also accepts UTC, UTS offsets and cutlabels",NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,Excel formats to show datetime,NaN,NaN,Additional formats,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,Enter the date to convert,2019-04-10 00:00:00,NaN,Standard UTC timestamp:,"""YYYY-MM-DDTHH:MM:SS.00Z""","Where Z indicates Zulu time (UTC+0), and is eq..."
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,This date has no time component,2019-04-10 00:00:00,NaN,Convert date into a string,2019-04-10T 13:30:45.55Z,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,Specify time component,13:30:45.550000,NaN,UTC offset (not recognised as an excel date),2019-04-10T13:30:45+04:00,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,Add to your date and display the complete date...,2019-04-10 13:30:45.550000,NaN,Cutlabel,2019-04-10NSingaporeClose,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Although the date can still appears without time,2019-04-10 13:30:45.550000,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Add an hour to your datetime,2019-04-10 14:30:45.550000,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Subtract a minute from your datetime,2019-04-10 14:29:45.550000,NaN,NaN,NaN,NaN

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

Answer7:

In [20]:
# Example DataFrame
def new():
    df = pd.DataFrame({'Email': ['ravi7@gmail.com',
                             'rvi7@gmail.com',
                             'prajapati7@gmail.com']})


    df['Username'] = df['Email'].str.split('@').str[0]


    return(df)
new()

                  Email    Username
0       ravi7@gmail.com       ravi7
1        rvi7@gmail.com        rvi7
2  prajapati7@gmail.com  prajapati7

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

In [25]:
def select_rows(df):
    # Select rows where 'A' > 5 and 'B' < 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    
    return selected_rows

# Example DataFrame
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

# Select rows based on conditions
selected_df = select_rows(df)

# Print the selected DataFrame
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,median, and standard deviation of the values in the 'Values' column.

In [26]:
import pandas as pd

def calculate_stats(df):
    # Calculate mean
    mean_value = df['Values'].mean()
    
    # Calculate median
    median_value = df['Values'].median()
    
    # Calculate standard deviation
    std_value = df['Values'].std()
    
    # Create a dictionary to store the results
    stats = {
        'Mean': mean_value,
        'Median': median_value,
        'Standard Deviation': std_value
    }
    
    return stats
# Example DataFrame
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5]})

# Calculate statistics
stats = calculate_stats(df)

# Print the results
for stat, value in stats.items():
    print(f"{stat}: {value}")

Mean: 3.0
Median: 3.0
Standard Deviation: 1.5811388300841898

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

Answer10:

In [27]:
def calculate_moving_average(df):
    # Sort the DataFrame by the 'Date' column
    df = df.sort_values('Date')

    # Calculate the moving average using a window of 7 days
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

# Example DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Sales': [10, 15, 12, 8, 20, 18, 25, 14, 9, 16]
})

# Calculate the moving average
df = calculate_moving_average(df)

# Print the updated DataFrame
print(df)

        Date  Sales  MovingAverage
0 2023-01-01     10      10.000000
1 2023-01-02     15      12.500000
2 2023-01-03     12      12.333333
3 2023-01-04      8      11.250000
4 2023-01-05     20      13.000000
5 2023-01-06     18      13.833333
6 2023-01-07     25      15.428571
7 2023-01-08     14      16.000000
8 2023-01-09      9      15.142857
9 2023-01-10     16      15.714286

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column. For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

Answer11:

In [29]:
def add_weekday_column(df):
    # Convert the 'Date' column to datetime type if necessary
    df['Date'] = pd.to_datetime(df['Date'])

    # Extract the weekday name and assign it to the 'Weekday' column
    df['Weekday'] = df['Date'].dt.day_name()

    return df
# Example DataFrame
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

# Add the 'Weekday' column
df = add_weekday_column(df)

# Print the modified DataFrame
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

Answer12:

In [31]:
def select_rows_between_dates(df):
    # Convert 'Date' column to datetime type if necessary
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Define the start and end dates
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    
    # Select rows where the date is between the start and end dates
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return selected_rows
# Example DataFrame
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-01-10']})

# Select rows between '2023-01-01' and '2023-01-31'
selected_df = select_rows_between_dates(df)

# Print the selected DataFrame
print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
3 2023-01-10

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

Answer13:To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is the pandas library itself. The pandas library provides data structures and functions for data manipulation and analysis.
 
To import the pandas library, you can use the following import statement:

import pandas as pd